<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/nominas?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">1317danialex</property>
    <mapping resource="controlador/Trabajadorbbdd.hbm.xml"/>
    <mapping resource="controlador/Nomina.hbm.xml"/>
    <mapping resource="controlador/Categorias.hbm.xml"/>
    <mapping resource="controlador/Empresas.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
